<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
  <h1>Chat</h1>
  <!-- <a href="/login">Login</a> -->
  <h2>You've logged in as: {{session['username']}}</h2>
  <p id="result"></p>
  <h1>messages</h1>
    <ul>
        <li>chat with peer</li>
    </ul>
    <form action="" method="POST">
            <b>Type your message below <span class="glyphicon glyphicon-arrow-down"></span></b>
            <input type="text" name="username" hidden value="{{session.username}}" placeholder="User Name">
            <input class=message type="text" name="message">
            <button type="submit">Send</button>
          </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <!-- <script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        // Typical action to be performed when the document is ready:
        document.getElementById("demo").innerHTML = xhttp.responseText;
        }
    };
    xhttp.open("GET", "/create_room", true);
    xhttp.send();
    </script> -->
  <script>
    var socket = io.connect( 'http://' + document.domain + ':' + location.port )
      // broadcast a message
      socket.on( 'connect', function() {
          socket.emit('join', {
            room: "{{peer}}"  //for invitee
            // room: "{{session.username}}" //for inviter
          })
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'new_message', {
            username: "{{session.username}}",
            message : user_input
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      // capture message
      socket.on( 'message', function( msg ) {
        console.log( msg )
        if( msg.username ) {
          $( 'h1' ).remove()
          $( 'ul' ).append( '<li class="msg_bbl"><b style="color: #000">'+msg.username+'</b> '+msg.message+'</li>' )
        }
    })


  </script>
</body>
</html>
